<style>
    .addPane-sprite-sprite, .addPane-sprite-add, .addPane-sprite-add_btn_Standard, .addPane-sprite-add_btn_active, .addPane-sprite-add_btn_active_middle, .addPane-sprite-add_btn_active_right, .addPane-sprite-add_selected, .addPane-sprite-add_window_open, .addPane-sprite-add_window_open_bg, .addPane-sprite-add_window_open_footer, .addPane-sprite-hide_off, .addPane-sprite-hide_on, .addPane-sprite-layers, .addPane-sprite-layers_selected, .addPane-sprite-lock_off, .addPane-sprite-lock_on, .addPane-sprite-x {
        background-image: url('../../img/addPane-sprite-s6b957a0219.png');
        background-repeat: no-repeat;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add {
        background-position: 0 0;
        height: 24px;
        width: 24px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_btn_Standard {
        background-position: 0 -24px;
        height: 56px;
        width: 56px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_btn_active {
        background-position: 0 -80px;
        height: 56px;
        width: 15px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_btn_active_middle {
        background-position: 0 -136px;
        height: 56px;
        width: 1px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_btn_active_right {
        background-position: 0 -192px;
        height: 56px;
        width: 13px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_selected {
        background-position: 0 -248px;
        height: 24px;
        width: 24px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_window_open {
        background-position: 0 -272px;
        height: 65px;
        width: 276px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_window_open_bg {
        background-position: 0 -337px;
        height: 1px;
        width: 216px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-add_window_open_footer {
        background-position: 0 -338px;
        height: 7px;
        width: 216px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-hide_off {
        background-position: 0 -345px;
        height: 36px;
        width: 22px;
    }
    /* line 59, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-hide_off:hover, .addPane-sprite-hide_off.hide_off-hover {
        background-position: 0 -381px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-hide_on {
        background-position: 0 -417px;
        height: 36px;
        width: 22px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-layers {
        background-position: 0 -453px;
        height: 24px;
        width: 24px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-layers_selected {
        background-position: 0 -477px;
        height: 24px;
        width: 24px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-lock_off {
        background-position: 0 -501px;
        height: 36px;
        width: 22px;
    }
    /* line 59, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-lock_off:hover, .addPane-sprite-lock_off.lock_off-hover {
        background-position: 0 -537px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-lock_on {
        background-position: 0 -573px;
        height: 36px;
        width: 22px;
    }

    /* line 84, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-x {
        background-position: 0 -609px;
        height: 9px;
        width: 9px;
    }
    /* line 59, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-x:hover, .addPane-sprite-x.x-hover {
        background-position: 0 -627px;
    }
    /* line 59, C:\Ruby200-x64\lib\ruby\gems\2.0.0\gems\compass-core-1.0.0.alpha.19\stylesheets\compass\utilities\sprites\_base.scss */
    .addPane-sprite-x:active, .addPane-sprite-x.x-active {
        background-position: 0 -618px;
    }


    /* line 131, ../sass/_addPane.scss */
    .hf_fw_container {
        font-size: 15px;
        color: #404040;
        text-shadow: white 0px 1px 0px;
    }
    /* line 137, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_staticBox .hf_fw_staticIcon {
        margin-left: 16px;
        margin-top: 16px;
        display: inline-block;
    }
    /* line 144, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_hoverBox {
        height: 56px;
    }
    /* line 147, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_hoverBox .hf_fw_Icon {
        height: 56px;
        float: left;
    }
    /* line 152, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_hoverBox .hf_fw_staticIcon {
        float: left;
        margin-top: 16px;
        margin-left: 1px;
    }
    /* line 158, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_hoverBox .hf_fw_label {
        float: left;
        margin-left: 20px;
        margin-top: 6px;
    }
    /* line 164, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_hoverBox .hf_fw_middleImage {
        background-image: url("../../img/add_btn_active_middle.png");
        float: left;
        height: 100%;
        line-height: 350%;
        width: inherit;
    }
    /* line 173, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox {
        width: 276px;
        height: 200px;
    }
    /* line 177, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_topBar {
        height: 65px;
    }
    /* line 180, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_topBar .hf_fw_clodeBtn {
        float: right;
        margin-right: 15px;
        margin-top: 20px;
    }
    /* line 186, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_topBar .hf_fw_staticIcon {
        float: left;
        margin-left: 16px;
        margin-top: 16px;
        display: inline-block;
    }
    /* line 193, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_topBar .hf_fw_label {
        float: left;
        margin-left: 40px;
        margin-top: 20px;
    }
    /* line 199, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_topBar .hf_fw_hrule {
        width: 210px;
        margin-left: 66px;
        display: block;
        clear: both;
        height: 2px;
        position: relative;
        top: 12px;
    }
    /* line 211, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_bodyBar {
        background: url("../../img/add_window_open_bg.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        margin-left: 60px;
        margin-top: -12px;
        height: 100%;
        overflow: hidden;
    }
    /* line 222, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_scroller {
        height: 100%;
        margin-left: 6px;
    }
    /* line 225, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_scroller .hf_fw_content {
        height: 100%;
    }
    /* line 230, ../sass/_addPane.scss */
    .hf_fw_container .hf_fw_activeBox .hf_fw_bottomBar {
        margin-left: 60px;
    }
</style>
<div class="hf_fw_container" data-bind="event:{ mouseover: onMouseOver, mouseout: onMouseOut}" >
    <div class="hf_fw_staticBox addPane-sprite-add_btn_Standard" data-bind="visible: isStatic, event: {click: onOpen}">
        <i class="hf_fw_staticIcon" data-bind="css: model.staticIcon "></i>
    </div>

    <div class="hf_fw_hoverBox" data-bind="event: { click: onOpen}, visible: isHover">
        <i class="hf_fw_Icon hf_fw_leftIcon addPane-sprite-add_btn_active"></i>
        <span class="hf_fw_middleImage">
            <i class="hf_fw_staticIcon" data-bind="css: model.staticIcon"></i>
            <span class="hf_fw_label" data-bind="text: model.labelName"></span>
        </span>
        <i class="hf_fw_Icon hf_fw_rightIcon addPane-sprite-add_btn_active_right"></i>
    </div>

    <div class="hf_fw_activeBox" data-bind="visible: isActive">
        <div class="hf_fw_topBar addPane-sprite-add_window_open">
            <i class="hf_fw_staticIcon" data-bind="css: model.staticIconOpen, event: {click: onClose}"></i>
            <span class="hf_fw_label" data-bind="text: model.labelName"></span>
            <i class="misc-sprite-closeBtn_x hf_fw_clodeBtn" data-bind="event: {click: onClose}, attr:{ id: model.closeBtnId}"></i>
            <img alt="" src="../../img/hrule.png" class="hf_fw_hrule" data-bind="visible: !model.hideHrule"/>
        </div>
        <div class="hf_fw_bodyBar" data-bind="style:{height: model.initHeight, minHeight: model.minHeight, maxHeight: model.maxHeight}">
            <div class="hf_fw_scroller">
                <div class="hf_fw_content" data-bind="template: model.content">
                </div>
            </div>
        </div>
        <div class="hf_fw_bottomBar addPane-sprite-add_window_open_footer"></div>
    </div>
</div>

